<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.semigradsky.keyboardlayout.pro</string>
    <key>CFBundleName</key>
    <string>Keyboard Layouts Pro</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>KLInfo_English Pro</key>
    <dict>
      <key>TISInputSourceID</key>
      <string>com.semigradsky.keyboardlayout.english-pro</string>
      <key>TISIntendedLanguage</key>
      <string>en-US</string>
    </dict>
    <key>KLInfo_Russian Pro</key>
    <dict>
      <key>TISInputSourceID</key>
      <string>com.semigradsky.keyboardlayout.russian-pro</string>
      <key>TISIntendedLanguage</key>
      <string>ru-RU</string>
      <key>TICapsLockLanguageSwitchCapable</key>
      <true/>
    </dict>
  </dict>
</plist>
